apispec
colorama
coloredlogs
dicttoxml
falcon
falcon-apispec
falcon-auth
falcon-elastic-apm
jproperties
msgpack
pint
psutil
pyyaml>=5.0
requests
swagger-ui-py
toolz
ttldict
verboselogs
waitress
werkzeug
xmltodict
