apispec
bunch
dicttoxml
emoji
falcon
falcon-apispec
falcon-auth
falcon-elastic-apm
falcon-require-https
jproperties
loguru
marshmallow
msgpack
pint
psutil
pyjwt[crypto]
pyyaml>=5.0
requests
rich
swagger-ui-py
toolz
waitress
xmltodict
