[Unit]
Description=Local Control Plane
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/bin/env python3 /opt/lcp/main.py

[Install]
WantedBy=multi-user.target
